.home{
   background-image: url('../../images/bankhome.jpg');
   height: 100vh; 
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.home .container-out{
   background: rgba( 255, 255, 255, 0 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 1.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   width:40%;
   height:80%;
   margin:auto;
}
.container{
   background-color: antiquewhite;
   background: rgba( 255, 255, 255, 0 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 1.5px );
   z-index:1;
}
.navbar-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 50px;
}
.navbar-container .nav-item{
   font-size: 22px;
   color: black;
   text-align: center;
}
.navbar-container .item1{
   width:50%;
   height: 50%;
}
.navbar-container .item2{
   width:50%;
   height: 50%;
}
.admin-login,.employee-login{
   width: 40%;
   margin-top:3%;
   margin-left:30%;
   height: 70%;
}